[submodule "library/core/src/main/jni/badvpn"]
	path = library/core/src/main/jni/badvpn
	url = https://github.com/SagerNet/badvpn
[submodule "library/core/src/main/jni/libancillary"]
	path = library/core/src/main/jni/libancillary
	url = https://github.com/shadowsocks/libancillary
[submodule "library/shadowsocks/src/main/rust/shadowsocks-rust"]
	path = library/shadowsocks/src/main/rust/shadowsocks-rust
	url = https://github.com/shadowsocks/shadowsocks-rust.git
[submodule "library/shadowsocksr/src/main/jni/shadowsocks-libev"]
	path = library/shadowsocksr/src/main/jni/shadowsocks-libev
	url = https://github.com/shadowsocksRb/shadowsocksr-libev
[submodule "library/shadowsocksr/src/main/jni/mbedtls"]
	path = library/shadowsocksr/src/main/jni/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "library/shadowsocksr/src/main/jni/libancillary"]
	path = library/shadowsocksr/src/main/jni/libancillary
	url = https://github.com/shadowsocks/libancillary
[submodule "library/shadowsocksr/src/main/jni/pcre"]
	path = library/shadowsocksr/src/main/jni/pcre
	url = https://android.googlesource.com/platform/external/pcre
[submodule "library/shadowsocksr/src/main/jni/libsodium"]
	path = library/shadowsocksr/src/main/jni/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "library/shadowsocksr/src/main/jni/re2"]
	path = library/shadowsocksr/src/main/jni/re2
	url = https://github.com/google/re2
[submodule "library/xray"]
	path = library/xray
	url = https://github.com/nekohasekai/AndroidLibXrayLite
[submodule "external/editorkit"]
	path = external/editorkit
	url = https://github.com/SagerNet/editorkit
[submodule "external/preferencex"]
	path = external/preferencex
	url = https://github.com/SagerNet/preferencex-android
[submodule "external/Xray-core"]
	path = external/Xray-core
	url = https://github.com/XTLS/Xray-core
[submodule "external/netty"]
	path = external/netty
	url = https://github.com/netty/netty
[submodule "external/netty-jni-util"]
	path = external/netty-jni-util
	url = https://github.com/netty/netty-jni-util
